* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	font-family: 'Manrope', sans-serif;
}
main{
        
    max-width: 1440px;
    margin: 0 auto;
    position: relative;

}

.main_titulos{
    margin-top: 20px;
    margin-bottom: 20px;
}

.card_producto{
    min-width: 200px;
    height: 450px;
    justify-content: center;
    text-align: center;
    border-radius: none;
    position: relative;

}
.card_producto .card-title{
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.card_producto .card-text{
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.btn_card_comprar{

    width: 150px;
    background-color: #EEEFF4;
    border-radius: 10px;
    margin-bottom: 5px;
}
.btn_card_carrito{
    width: 150px;
    background-color: #EEEFF4;
    border-radius: 10px;
}

.btn_corazon{
    
    position: absolute;
    width: 50px;
    height: 50px;
    top: 5px;
    right: 5px;
    background-color: #efefef;
    border-radius: 50%;
    text-align: center;
    justify-content: center;   
    
}
.fa-heart{
    color: red;
    font-size:25px;
}

.card_group{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    align-items: center;
    justify-content: center;
}
